{# templates/contact_us/fail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Form Submission Failed{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Form Submission Failed!</h4>
        <p>Please resubmit the form with your details to complete the submission.</p>
    </div>

    <a href="{{ url('contact_us') }}" class="btn btn-primary">Go back to Contact Us</a>
</div>
{% endblock %}
