{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
<style>
    
</style>

<div class="w-50 text-center mx-auto my-5 px-4 py-5 border border-primary rounded shadow-lg" style="--bs-border-opacity: .35;">
    <h1 class="mb-5">Contact us</h1>

    {{ form_start(form) }}
        <div class="row g-3 mb-3">
            <div class="col">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                {{ form_row(form.email) }}
            </div>
            <div class="col">
                {{ form_row(form.phoneNumber) }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                {{ form_row(form.subject) }}
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                {{ form_row(form.message) }}
            </div>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
