{# templates/contact_us/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Thank You{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Thank you for your submission, {{ first_name }}!</h1>
            <p class="card-text">We appreciate your message and will get back to you soon.</p>

            <hr>

            <h3 class="card-subtitle mb-4">Your details:</h3>
            <ul class="list-unstyled">
                <li><strong>First Name:</strong> {{ first_name }}</li>
                <li><strong>Last Name:</strong> {{ last_name }}</li>
                <li><strong>Email:</strong> {{ email }}</li>
                <li><strong>Phone Number:</strong> {{ phone_number }}</li>
                <li><strong>Subject:</strong> {{ subject }}</li>
                <li><strong>Message:</strong> {{ message }}</li>
            </ul>

            <a href="{{ path('contact_us') }}" class="btn btn-primary">Back to Contact Us</a>
        </div>
    </div>
</div>
{% endblock %}
